<div class="container mt-4">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h2 class="text-center mb-0">Relatório de Livros por Autor</h2>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead class="table-dark">
          <tr>
            <td></td>
            <th>Título</th>
            <th>Editora</th>
            <th>Edição</th>
            <th>Ano</th>
            <th>Valor</th>
            <th>Assuntos</th>
          </tr>
        </thead>
        <tbody>
          @for (rel of relatorio; track $index){
          <!--Agrupamento por Autor-->
          <tr class="table-secondary">
            <td colspan="7"> {{ rel.autor }} </td>
          </tr>

          @for (item of rel?.livros; track $index){
          <!--Livros do Autor-->
          <tr class="book-row">
            <td></td>
            <td>{{ item.titulo }}</td>
            <td>{{ item.editora }}</td>
            <td>{{ item.edicao }}</td>
            <td>{{ item.anoPublicacao }}</td>
            <td>{{ item.valor }}</td>
            <td>{{ item.assuntos }}</td>
          </tr>
          }
          }

        </tbody>
      </table>
    </div>
    <div class="card-footer text-center">
      <p class="mb-0">© 2025 - Relatório de Livros</p>
    </div>
  </div>
</div>