/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

th.codigo {
    width: 100px;
}

th.acoes {
    width: 200px;
    text-align: center;
}

th.titulo {
    width: 250px;
}