<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Autores</h2>
        <button class="btn btn-primary" (click)="openModal(modalNovo)">
            Novo
        </button>
    </div>

    <div *ngIf="mostrarAlertSucesso" class="alert alert-success mt-3" role="alert">
        {{ mensagemSucesso }}
    </div>

    <div *ngIf="mostrarAlertErro" class="alert alert-danger mt-3" role="alert">
        {{ mensagemErro }}
    </div>

    <hr />

    <!-- Lista -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="codigo">Código</th>
                <th>Nome</th>
                <th class="acoes">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let autor of autores">
                <td>#{{ autor.codigo }}</td>
                <td>{{ autor.nome }}</td>
                <td class="text-end">
                    <button class="btn btn-warning me-2" (click)="abrirModalEditar(autor, modalEdicao)">
                        Editar
                    </button>
                    <button class="btn btn-danger" (click)="confirmarExclusao(autor.codigo)">
                        Excluir
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Modal Novo -->
    <ng-template #modalNovo let-modal>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="novoAutorModalLabel">Novo Autor</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="criarRegistro()">
                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="nome" [(ngModel)]="autor.nome" name="nome" required
                            maxlength="40" ngbAutofocus>
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </ng-template>


    <!-- Modal Edicao -->
    <ng-template #modalEdicao let-modal>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarAutorModalLabel">Editar Autor</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="atualizarRegistro()">
                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="nome" [(ngModel)]="autor.nome" name="nome" required
                            maxlength="40" ngbAutofocus>
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                </form>
            </div>
        </div>
    </ng-template>

</div>